@font-face{
  font-family: "DBOZONE-bold";
  src: url("./font/DB-Ozone-X-Bd.ttf") format("truetype")
}
@font-face{
  font-family: "DBOZONE-regular";
  src: url("./font/DB-Ozone-X-Med.ttf") format("truetype")
}

body {
  margin: 0;
  font-family: "DBOZONE-regular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}